input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}
input[type="submit"] {
    width: 40%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="reset"] {
    width: 40%;
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 4px;
   cursor: pointer;

}
input {
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
}
input[type="submit"]:hover {
   background-color: #008CBA; /* Green */
   color: white;

}
input[type="reset"]:hover {
    background-color: #555555;
    color: white;

}
